{% extends "layout.html" %}
{% block content %}
<h2>Welcome to YouTube-Downloader!</h2>
<p>Start by visiting <a href="/search.html">the search page</a> to find YouTube videos you want to download. The time taken to display results may vary based on your internet speed.</p>
<p>*Please note, this tool <u>does not</u> support downloading age-restricted YouTube content, live-streams/podcasts, or Youtube Movies/TV.<br>
This is due to current limitations with pytube's authentication support. For more information on pytube and its capabilities, visit their <a href="https://github.com/pytube/pytube" target="_blank" rel="noopener">GitHub page</a>.</p>
{% endblock %}