<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        {% block title %}{{title}}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <hr>
    <footer>
        <p>Made with ❤ by <a href="https://github.com/Codex-Major" target="_blank" rel="noopener">CodexMajor</a> | Powered by <a href="https://pypi.org/project/pytube/" target="_blank" rel="noopener">PyTube</a></p>
      </footer>
</html>